@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.sidebar {
  width: 200px;
  background-color: #343a40;
  color: white;
  height: calc(200vh - 64px); /* Adjusting height to account for navbar */
  padding: 1rem;
  position: fixed;
  top: 104px; /* Navbar height */
  left: 0;
}

.main-content {
  margin-left: 200px;
  padding: 1rem;
  padding-top: 64px; /* Additional padding for navbar */
}


/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
